#removeProduct {
    background-color: #EEEEEE;
    color: #767676;
    border: none;
}
#addProduct{
    background-color: #EEEEEE;
    color: #767676;
    border: none;
    
}
#removeCategory{
    background-color: #EEEEEE;  
    color: #767676;
    border: none;
}
.review{
    text-align: start;
    
}
    